# generic
*.bak
*.core
*.log
*.old
*.orig
*.rej
*.sw[p-z]
*~
.*.sw[p-z]

# macos
.DS_Store
.VolumeIcon.icns

# windows
*.lnk
[Dd]esktop.ini
[Tt]humbs.db

# local

# excludes
!.git
!.git_keep
!.gitkeep
