#! <git-repository-url>                 [destination]     [[@]mode] [pull]  [depth]

# clone the repository as name dothier
# mode is set from umask, pull defaults to yes, depth to 1
https://github.com/sh0shin/dothier.git

# clone the repository as name dothier-git-src (mode: 0750)
# macos users can use @0750 to exclude from time machine backups
https://github.com/sh0shin/dothier.git  dothier-git-src   0750
